.nav-top {
      background-color: crimson;
       height: 5vh;
       width: 100%;
       display: flex;
       align-items: center;
       justify-content: space-between;
       
 
 }
 
 .section-left a {
       display: flex;
       /* gap: 5px; */
      color: whitesmoke;
      text-decoration: none;
      /* font-size: 10px; */
      margin: 10px;
      /* border-radius: 50%; */
      
      
 
 }
 
 .section-right,a,i {
       display: flex;
       justify-content: right;
       align-items: center;
       margin-right: 20px;
       /* font-size: 10px; */
     
 }
 
 button {
       /* display: flex; */
       /* justify-content: right; */
       color: azure;
      background-color: darkcyan;
      border-radius: 20px;
     
      
 }
 .nav-btm{
       background-color: rgb(50, 50, 97);
       /* width: 100%;
       height: 8vh; */
       
 }
 
     
 
 ul ,.nav-btm,.nav-items{
       display: flex;
       gap: 20px;
       justify-content: space-between;
       align-items: center;
       padding: 10px; 
       text-align: center;
       text-transform: uppercase;
       
 
 }
       
 li{
       color: darkgray;
       list-style: none;
       font-family: sans-serif;
      
 }
 li:hover{
       color: black;
       cursor: pointer;
 }
 .nav-items{
       text-decoration: none;
 } 
 body{
      margin: 0%;
 }
 
 
 .banner{
    background-image: url(campaign-creators-qCi_MzVODoU-unsplash.jpg);
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h1{
       font-size: 50px;
       font-family: sans-serif;
       font-weight: bold;
       margin: 0;
       color: darkmagenta;
 }
 p{
      color: red;
      width: 50%;
 }
 .banner button{
      color: white;
      background-color: black;
      border-radius: 20px;
      height: 40px;
      width: 90px;
 }
 .banner button:hover{
      color: lightgreen;
      cursor: pointer;
 }

 main{
      background-color: aquamarine;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
 }
 .cards{
      display: flex;
      justify-content: center;
      height: 10px;
      width: 10px;
      text-align: center;
      align-items: center;

 }

 
.card-section{
     margin: 100px;
     display: flex;
     gap: 10px;

}
 .circle i{
       margin: 0;
}
.card-inner{
      background-color: grey;
      text-align: center;
      position: relative;
}
.circle{
      background-color: yellow;
      padding: 10px 20px;
      border-radius: 100%;
      display: inline;
      position: absolute;
      top: -20px;
}










div a

.section-left a